.productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap as needed */
    width: 900px;
    transition: .5s ease;
}

.linkToPage{
    transition: none;
}

.linkToPage:hover{
    text-decoration: none;
}