button{
    background: none;
    color: rgba(0, 0, 0, 0.500);
    width: 40px;
    height: 40px;
}

.totalButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Pagination{
    display: flex;
    flex-direction: row;
    transition: .2s ease;
    justify-content: space-between;
}

.active{
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    color: black;
}

.button-navigate{
    width: 110px;
    height: 36px;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.next{
    width: 86px;
}